body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(155, 155, 226),rgba(238,238,248,0.9));
}
.developer{
    color: #d4b06e;
    font-size: 12px;
    float: right;
  
}

.main{
    background: #0c0a2d;
    margin: 54px 304px;
}
nav{
    background: #05053e;
   
}

.logo{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
h1{
    text-align: center;
    font-family: cursive;
    margin: 0;
    color: #9090c5;
      padding-left: 140px;
}
.container{
    border: 2px solid white;
    background: white;
    border-radius: 2px;
    max-width: 615px;
    margin: 22px auto 5px;
    height: 65vh;
    position: relative;
    overflow: auto;
   
}

.userName{
    margin-left: 15px;
    color: rgb(38 38 115);
}
.message_left{
    width: 44%;
    overflow-wrap: anywhere;
    margin: 2px 10px 10px 10px;
   padding: 10px;
    background-color: rgba(240, 236, 236, 0.863);
    border-radius: 10px 10px 10px 0;
    border: 1px solid black;
 
}
.message_right{
    width: 39%;
    overflow-wrap: anywhere;
    margin: 2px 10px 10px 10px;
   padding: 10px;
    background-color: #6a6aca;
    border-radius: 10px 10px 10px 0;
    border: 1px solid black;
 
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;

    clear: both;

}

.emojionearea{
    width: 73% !important;
    border-radius: 3px;
}
#send-container{
    display: block;
    padding-bottom: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 39%;
    height: 41px;
    border-radius: 23px
}
.btn{
    border: 1px solid black;
    width: 10%;
    height: 35px;
    background-color: darkgrey;
    border-radius: 11px;

}


@media screen and (max-width: 800px) {
    .main{
     margin: 0; /* The width is 100%, when the viewport is 800px or smaller */
    }
    h1{
        text-align:none;
        padding-left: 20px;
    }
    .btn{
        width: auto;
    }
  }
  